src/main/resources/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="itemName"/>
        <xs:element type="xs:byte" name="quantity"/>
        <xs:element type="xs:int" name="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>